---
import config from "../lib/config";
---
<div class="w-full bg-slate-100 text-center py-4 mt-12 space-y-4">
    <p class="text-sm text-slate-600">
        Made with ❤️ by {config.personal.name} - {new Date().getFullYear()}
    </p>
    <p>
        Built with <a href="https://astro.build" class="text-blue-500 hover:underline" target="_blank" rel="noopener noreferrer"><i class="devicon-astro-plain"></i> Astro</a> and <a href="https://alpinejs.dev" class="text-blue-500 hover:underline" target="_blank" rel="noopener noreferrer"><i class="devicon-alpinejs-plain"></i> Alpine.js</a>.
    </p>
    <p>
        This web is open-sourced on <a href="https://github.com/wakugumi/wakugumi.github.io" class="text-blue-500 hover:underline" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i> GitHub</a>.
    </p>
</div>
